.photo-profile{
	position: absolute;
	left: 250px;
	top: 80px;
}

.name {
	left: 300px;
	top: 100px;
}

.about_me{
	width: 700px;
	padding: 40px;
	margin-top: -100px;
	margin-left: 690px;
	background-color: white;
	font-family: sans-serif;
}
.about_me h3{
	font-style: italic;
	font-weight: 300;
}

.pod-photo{
	margin-left: 242px;
	width: 447px;
	height: 300px;
	margin-top: 122px;
	background-color: white;
}

.pod-photo h1{
	text-align: center;
	padding-top: 20px;
	font-size: 35px;
	line-height: 0.2;
}
.pod-photo h3{
	text-align: center;
	font-weight: 300;
	font-family: sans-serif;
	font-style: italic;

}
.social-sites{
	display: flex;
  	justify-content: center;
  	list-style: none;
  	margin-top: 0.5rem;
  	margin-bottom: 1rem;
  	padding-left: 0;
}
.social-sites>li {
  	margin-left: 0.25rem;
  	margin-right: 0.25rem;
}
.social-sites a {
  	position: relative;

  	display: block;
  	-webkit-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
  	user-select: none;
  	transition: background-color .3s ease-in-out;
  	width: 2.5rem;
  	height: 2.5rem;
  	border-radius: .15rem;
}

.social-sites a::before {
  	content: "";
  	position: absolute;
  	width: 1.5rem;
  	height: 1.5rem;
  	left: .65rem;
  	top: .65rem;
  	background: transparent no-repeat center center;
  	background-size: 100% 100%;
}

.social-sites .social-icon-linkedin::before {
  background-image: url(In.png);
}
.social-sites .social-icon-github::before {
  background-image: url(GIT.png);
}
.social-sites .social-icon-telegram::before {
  background-image: url(Teleg.png);
}
.social-sites .social-icon-instagram::before {
  background-image: url(Inst.png);
}

.menu{
	list-style-type: none;
	padding-left: 0;
	margin-left: 0;
}
.menu a{
	text-decoration: none;
	font-family: sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: black;
	display: inline-block;
	padding: 10px 20px;
	background-color: white;
	border-bottom: 3px solid DarkGray;
	width: 60px;
	margin-left: 140px;
	position: relative;
	margin-top: 2px;
	top: 100px;


}
.menu li{
	display: block;

}